<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kmj.apiProject.auth.dao.mapper.AuthMapper">



	<select id="userDetail"
		parameterType="com.kmj.apiProject.auth.dto.AuthDto"
		resultType="com.kmj.apiProject.auth.dto.AuthDto">
		select *
		from users
		where id = #{id}
	</select>


	<select id="driverDetail"
		parameterType="com.kmj.apiProject.auth.dto.DriverDto"
		resultType="com.kmj.apiProject.auth.dto.DriverDto">
		select *
		from drivers
		where id = #{id}
	</select>


	<insert id="signUp"
		parameterType="com.kmj.apiProject.auth.dto.AuthDto">
		insert
		into users
		(
		id
		,name
		,password
		,email
		,phone_num
		<if test="memo != null and !address.equals('')">
		,address
		</if>
		)
		values
		(
		#{id}
		,#{name}
		,#{password}
		,#{email}
		,#{phoneNum}
		<if test="address != null and !address.equals('')">
		,#{address}
		</if>
		)
	</insert>


	<insert id="driverSignUp"
		parameterType="com.kmj.apiProject.auth.dto.DriverDto">
		insert
		into users
		(
		id
		,name
		,password
		,phone_num
		<if test="email != null and !email.equals('')">
		,email
		</if>
		)
		values
		(
		#{id}
		,#{name}
		,#{password}
		,#{phoneNum}
		<if test="email != null and !email.equals('')">
		,#{email}
		</if>
		)
	</insert>

</mapper>