<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
	namespace="com.kmj.apiProject.order.dao.mapper.OrderMapper">

	<insert id="receipt"
		parameterType="com.kmj.apiProject.order.dto.OrderDto"
		useGeneratedKeys="true" keyProperty="orderId">
		insert
		into orders
		(
		user_id
		,total_price
		)
		values
		(
		#{userId}
		,#{totalPrice}
		)

	</insert>

	<delete id="cancel"
		parameterType="com.kmj.apiProject.order.dto.OrderDto">
		delete from orders
		where order_id = #{orderId}
	</delete>

	<insert id="item"
		parameterType="com.kmj.apiProject.order.dto.ItemDto">
		insert
		into items
		(
		order_id
		,item_name
		,item_cnt
		,price
		)
		values
		(
		#{orderId}
		,#{itemName}
		,#{itemCnt}
		,#{price}
		)

	</insert>

	<select id="orderDetail"
		parameterType="com.kmj.apiProject.order.dto.OrderDto"
		resultType="com.kmj.apiProject.order.dto.DeliveryDto">
		select * from delivery
		where order_id = #{orderId}
	</select>

	<select id="driverLocation"
		parameterType="com.kmj.apiProject.order.dto.DeliveryDto"
		resultType="com.kmj.apiProject.auth.dto.DriverDto">
		select * from drivers
		where driver_id = #{driverId}
	</select>

	<select id="orderUserDetail"
		parameterType="com.kmj.apiProject.auth.dto.AuthDto"
		resultType="com.kmj.apiProject.auth.dto.AuthDto">
		select *
		from users
		where user_id = #{userId}
	</select>


</mapper>